    <script> //script for drop down menu
        /* When the user clicks on the button,
         toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <%if (login){%>
    <nav id="navbar" style="position: relative">
        <div id="navbar-links">
            <a href="/dash"> <img src="/images/logo.png" alt="Could not load logo" style="width: 42px; height: 28px; position: relative; bottom: 5px"></a>
            <a href="/dash" id="brand"><img src="/images/brand.png" alt="Could not load image" style="width: 120px; height: 50px; position: relative; right: 40px; top: 8px;"></a>
        </div>
        <div id="nav-buttons" class="dropdown">
            <button type="image" onclick="myFunction()" class="dropbtn"></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/dash">Dashboard</a>
                <a href="/users/account">My Account</a>
                <a href="/users/logout">Logout</a>
            </div>
        </div>
    <%}else{%>
    <nav id="navbar">
        <div id="navbar-links" style="background-color: #ff8189;">
                <a href="/" id="brand"><img src="/images/brand.png" alt="Could not load image" style="width: 130px; height: 60px;"></a>
                <a class="link" href="/#div1">How it Works</a>
                <a class="link" href="/pricing">Pricing</a>
                <a class="link" href="/contact">Contact</a>
            </div>
            <div id="nav-buttons">
                <a href="/users/login" class="btn">Login</a>
            </div>
        <%}%>
    </nav>