<!DOCTYPE html>
<html>
  <head>
      <%include ../partials/head%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body onscroll="temp()">
  <header>
    <% include ../partials/navbar%>
  </header>
  <script>

      var slide = 0;
      var previousScroll = 0;
      var scrollDown = 0;
      var scrollUp = 0;

      function temp () {
          var currentScroll = document.body.scrollTop;
          if (currentScroll > previousScroll){
              scrollDown++;
          } else {
              scrollUp++;
          }

          if(scrollDown > 30) {

              slide = slide >= 4 ? 4 : slide+1;
              scrollDown =0;
              scrollUp=0;
              console.log("slide"+slide);
              $( document ).ready(function() {
                  $('html, body').animate({
                  scrollTop: $("#div"+slide).offset().top}, 200, function () {
                      scrollDown =0;
                      scrollUp=0
                  });

              });
          }
          if(scrollUp > 30) {
              slide = slide <= 0 ? 0 : slide-1;
              scrollDown =0;
              scrollUp=0;
              console.log("slide"+slide);
              $( document ).ready(function() {
                  if(slide == 0){ //scroll to top for first slide
                      $('html, body').animate({
                          scrollTop: $('body').offset().top}, 200, function () {
                          scrollDown =0;
                          scrollUp=0
                      });
                  }
                  else {
                      $('html, body').animate({
                          scrollTop: $("#div" + slide).offset().top
                      }, 400, function () {
                          scrollDown = 0;
                          scrollUp = 0
                      });
                  }
              });
          }

          previousScroll = currentScroll;
      }
  </script>
    <div id="blurb" style="z-index: 10;" style="position: relative;">
      <p>Writing is hard enough.<br>Getting feedback shouldn't have to be.<br>Get your essay reviewed today!</p><br>
      <a id="signup-button" href="/users/signup" >Sign Up</a>
    </div>
    <div id="div0">
      <div id="graphic" style="position: relative; padding-bottom: 30px; margin-top: -20px">
        <img id="landing-img"src="/images/landing.png" alt="Image could not be loaded">
      </div>
    </div>

    <div style="position: relative; margin-bottom: -4px; width: 100%;"  id="div1">
      <img style="position: relative; width: 100%;" src="/images/How-To-1.png" alt="Image could not be loaded">
    </div>

    <div style="position: relative; margin-bottom: -4px; width: 100%;"  id="div2">
      <img style="position: relative; width: 100%;" src="/images/How-To-2.png" alt="Image could not be loaded">
    </div>

    <div style="position: relative; margin-bottom: -4px; width: 100%;"  id="div3">
      <img style="position: relative; width: 100%;" src="/images/How-To-3.png" alt="Image could not be loaded">
    </div>

    <div style="position: relative; margin-bottom: -4px; width: 100%;"  id="div4">
      <img style="position: relative; width: 100%;" src="/images/How-To-4.png" alt="Image could not be loaded">
    </div>

  </body>
</html>