<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head%>

    <link rel='stylesheet' href='/stylesheets/login-signup.css' />
</head>
<body>

<header>
    <% include ../partials/navbar%>
</header>
<div id="cloud-background">
    <img id="cloud-img"src="/images/cloud-background.png" alt="Image could not be loaded">
</div>

<div class="middle-box" id="signup-box">
    <h2>Signup</h2>
    <p>Already have an account? <a style="text-decoration: underline;" href="/users/login">Login</a></p>
    <div id="inner-box">
        <div><%include ../partials/messages%></div>
        <form name="signup-form" action="/users/signup" method="POST">
            *First Name: <input title="First name" name="fname" type="text" class="field"> <br />
            *Last Name: <input title="Last name" name="lname" type="text" class="field"> <br />
            *Email: <input title="Email" name="email" type="text" class="field"> <br />
            *Password: <input title="Password" name="password" type="password" class="field"> <br />
            *Confirm Password: <input title="Confirm password" name="password2" type="password" class="field"> <br />
            *University: <select title="University" name="university" type="select" class="field"> <br>
                <option value="default" selected="selected"></option> <br />
                <option value="USC">USC</option>
                <option value="UCLA">UCLA</option>
                <option value="LMU">LMU</option>
                <option value="CSUN">CSUN</option>
            </select><br>
            *Major: <select title="Major" name="major" class="field"> <br />
                <option value="default" selected="selected"></option>
                <option value="engineering">Engineering</option>
                <option value="social-sciences">Social Sciences</option>
                <option value="business">Business</option>
                <option value="physical-sciences">Physical Sciences</option>
                <option value="music">Music</option>
                <option value="art">Art</option>
                <option value="cinematic-arts">Cinematic Arts</option>
            </select><br />
            *Class Year: <select title="Class year" name="year" class="field"> <br />
                <option value="default" selected="selected"></option>
                <option value="Freshman">Freshman</option>
                <option value="Sophomore">Sophomore</option>
                <option value="Junior">Junior</option>
                <option value="Senior">Senior</option>
            </select> <br>
            Phone number: <input title="Phone number" name="phone" type="text" class="field"> <br /> <br />

            <input type="checkbox" name="isReviewer" value="reviewer" checked="checked"> I would like to be considered to be a reviewer<br> <br />
            <input class="blue-btn" type="submit" value="Sign Up"><br>
        </form>
    </div>
</div>
</body>
</html>
