#tab-side{
    align-items: center;
    text-align: center;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 15px;
}

#upload-btn{
    position: relative;
    top: 10vh;
    background-image:url('../images/upload-button.png');
    width:170px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
    cursor:pointer;
}
#upload-btn:hover{
    border: 0.5px solid #ffffff;

}
#side-links{
    position: relative;
    top: 30vh;
    color: white;
    text-align: left;
    top: 90px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.side-link-button{
    color: white;
    width: 100%;
    height: 30px;
    border: 0px;
    font-size: 17px;

    outline: none;
    width: 80%;
    text-align: left;
    background: transparent;
    cursor:pointer;
}

.side-div{
    background-color: #FF8189;
    color: white;
    margin-bottom: 6px;
}

.side-div:hover{
    background-color: #D85C72;
    opacity: 0.5;
}

.side-highlight{
    background-color: #D85C72;
    /*background-color: white;*/
    color: white;
}
.side-img{
    width:18%;
    margin-top: 3px;
    padding-left: 7px;
    margin-right: -4px;
    height: 25px;
}
#tab-section{
    position: absolute;
    left: 200px;
    right: 0px;
    bottom: 0px;
    top: 35px;
    z-index: 0;
}

.tab-area{
    color: #FF8189;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: relative;
    padding: 0.01em;
    padding-left: 25px;
}

.tab-link{
    border: none;
    margin-right: -2px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    background-color: #D85C72;
    color: #ffffff;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    font-family: 'Quicksand', sans-serif;
    z-index: 1;
    border-bottom: 0px;
    cursor:pointer;
}

.highlight{
    background-color: white;
    color: #FF8189;
    padding-top: 10px;

    padding-left: 25px;
    padding-right: 25px;
}

.tab-link:hover{
    background-color: white;
    opacity: 0.5;
    color: #FF8189;
}

.tab-link:focus{
    outline: none !important;

}

#tab-section h1{
    font-family: 'Quicksand', sans-serif;
}

#sort-buttons-div{
    position: relative;
    float: right;
    margin-top: 27px;
    z-index: 2;
    margin-right: 41px;
}

.sort-buttons{
    background-color: #ffffff;
    color: #000000;
    border-radius: 13px;
    border: none;
    outline: none;
    margin-left: 2px;
    margin-top: 1px;
    font-family: 'Quicksand', sans-serif;
    cursor:pointer;
}
.sort-buttons:hover{
    border: #ff8189;
    border-width: 1px;
    border-style: solid;
    margin-left: 0px;
    margin-top: 0px;
}

.sort-buttons-highlight{
    background-color: #ff8189;
    color: #ffffff;
}

.essay-box{
    padding-bottom: 25px;
    padding-right: 30px;
}

.essay-info-box{
    margin-top: -10px;
    border: #919191 solid 1px;
    border-top: 0;
    font-size: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    max-width: 230px;
}

.essay-info-box h6{
    color: #375D9D;
    margin-bottom: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.essay-info-box img{
    width: 30px;
    margin-left: 20px;
    position: absolute;
}

.download-button{
    margin-top: 10px;
    width: 100%;
    background-color: #375D9D;
    color: white;
    border: none;
    border-radius: 10px;
    height: 35px;
    outline: none;
    cursor:pointer;
}

.rating-button{
    margin-top: 10px;
    width: 100%;
    background-color: #ff8189;
    color: white;
    border: none;
    border-radius: 10px;
    height: 35px;
    outline: none;
    cursor:pointer;
}

label{
    display: inline-block;
    float: left;
    width : 100px;
    font-weight: bold;
}

#inner-left-box{
    font-family: 'Quicksand', sans-serif;
    color: #375D9D;
}
#inner-left-box input{
    height: 23px;
    margin-bottom: 4px;
    width: 200px;
}
#inner-left-box select{
    height: 23px;
    margin-bottom: 4px;
    width: 200px;
}
#inner-left-box input[type="file"]{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.choose-file-button {
    display: block;
    cursor: pointer;
    background-color: #375D9D;
    border-radius: 15px;
    color: white;
    text-align: center;

    width: 150px;
    padding: 3px;
    cursor:pointer;
}
#chosen-file-name{
    margin-top: 2px;
    margin-left: 5px;
    width: 150px;
    color: #375D9D;
}
#inner-left-box input[type="submit"]{
    width: 150px;
    padding: 3px;
    height: 30px;
    font-size: 15px;
    background-color: #ff8189;
    cursor: pointer;
}

/*#left-box{*/
    /*border-radius: 25px;*/
    /*border: 1px solid white;*/
    /*font-size: 17px;*/
    /*width: 30vw;*/
    /*height: auto;*/
    /*text-align: center;*/
    /*align-items: center;*/
    /*position: absolute;*/
    /*top: 160px;*/
    /*bottom: 0;*/
    /*left: 1vw;*/
    /*margin: auto;*/
/*}*/

/*#inner-left-box{*/
    /*align-items: right;*/
    /*text-align: right;*/
    /*padding: 20px;*/
/*}*/

/*#middle-box{*/
    /*border-radius: 25px;*/
    /*border: 1px solid white;*/
    /*font-size: 17px;*/
    /*width: 30vw;*/
    /*height: auto;*/
    /*text-align: center;*/
    /*align-items: center;*/
    /*position: absolute;*/
    /*top: 160px;*/
    /*bottom: 0;*/
    /*left: 32vw;*/
    /*margin: auto;*/
/*}*/
#results-container {
    font-family: Quicksand;
    position: absolute;
    left: 275px;
    top: 90px;
}

.review-result{
    width: 65vw;
    border: 1px solid #ff8189;
    right: 30px;
    height: 145px;
    overflow: hidden;
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.review-result h3{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #D85C72;
    font-weight: bold;
    font-family: Quicksand;
}
#results-container p{
    color: #a9a9a9;
    width: 60%;
}

.reviewer_tab_essay_info_1{
    float: left;
    max-width: 200px;
}

.reviewer_tab_essay_info_2{
    padding-top: 35px;
    padding-left: 30px;
    float: left;
    max-width: 500px;
    max-height: 125px;
    overflow: hidden;
}

.reviewer_side_buttons_div{
    /*position: absolute;*/
    float: right;
    right: 0;
    margin-top: -23px;
    bottom: 0;
    align-items: center;
    text-align: center;
    padding-top: 2px;
    font-size: 12px;
    padding-right: 30px;
}
.reviewer_side_button{
    background: #375D9D;
    outline: none;
    color: #ffffff;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    cursor:pointer;
}
.seeMore-button{
    position: absolute;
    bottom: 0;
}

.reward-button{
    background: white;
    color: #147d57;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border: #375D9D 2px solid;
    border-radius: 10px;
    font-size: 17px;
    padding: 7px 13px 7px 13px;
    text-decoration: none;
    outline: none;
    cursor:pointer;
    width: 100%;
}
#search-side-container{
    margin-top: 30px;
}
#search-side-container h4{
    color: #D85C72;
    font-family: Quicksand;
    font-weight: bold;
}
#search-side-container hr{
    margin: 10px 0px;
}
#search-side-container button{
    margin-top: 7px;
}
/*.accept-button{*/
    /*border-radius: 12px;*/
    /*font-family: 'Quicksand', sans-serif;*/
    /*color: #ffffff;*/
    /*font-size: 18px;*/
    /*background: #375d9d;*/
    /*border: 1px solid #375d9d;*/
    /*padding: 7px 35px 7px 35px;*/
    /*text-decoration: none;*/
/*}*/
