body{
    /*background: url(/images/landing.png) no-repeat center center fixed;*/
    background-color: #ff8189;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#blurb{
    position: absolute;
    top: 20%;
    left: 60px;
}
#blurb p{
    font-size: 30px;
}

#signup-button{
    background: #375d9d;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    padding: 10px 50px 10px 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
#signup-button:hover{
    background: #ffffff;
    text-decoration: none;
    color: #375d9d;
}


#graphic{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
}

#landing-img{
    max-width: 100%;
    max-height: 100%;

}