body{
}

.middle-box{
    border-radius: 25px;
    border: 1px solid white;
    background-color: #ff8189;
    font-size: 17px;
    width: 40vw;
    height: auto;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

option{
    color: #ff8189;
}

#signup-box{
    top: 100px;
}

#cloud-background{
    position: absolute;
    top: 0;
    z-index: -100;
    margin: 0;
    padding: 0;
}

#cloud-img{
    position: fixed;
    top: 65px;
    width: 98vw;
    bottom: 0;
}



form * {
    padding: 3px;
    margin: 5px;
}

#inner-box{
    text-align: right;
    width: auto;
    display: inline-block;
}

.field{
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    background: transparent;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border: solid #ffffff 1px;
    font-size: 17px;
}

.field:focus {
    outline: none !important;
    border:1px solid #ffffff;
    box-shadow: 0 0 10px #375d9d;
}



.submt-in-button {
    border-radius: 12px;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    width: 100%;
    font-size: 18px;
    background: #ff8189;
    padding: 7px 35px 7px 35px;
    border: solid #ffffff 1px;
    text-decoration: none;
}

.submt-in-button:hover {
    background: #ffffff;
    text-decoration: none;
    color: #ff8189;
}

input[type="submit"]{
    width: 100%;
}